[run]
branch = True
omit =
    # Ignore Python library files and add-ons
    /usr/lib/*
    /usr/local/*
    .local/*
    env/*

    # Ignore Django migration files
    */migrations/*

    # Ignore Django project configuration files in the config directory (replace `mysite` with your config directory name)
    mysite/*

    # Ignore package files __init__.py
    */__init__.py

    # Ignore the manage.py file
    */manage.py

[report]
exclude_lines =
    # Ignore the __str__ and __repr__ methods
    def __str__
    def __repr__

    # Ignore if the code raises NotImplementedError (optional, for abstract classes)
    raise NotImplementedError

    # Add any other lines to ignore here (optional)
    pragma: no cover

show_missing = True
