{% load static %}
{% block site_title %}vote | {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<div>
<h1>{{ question.question_text }}</h1>
<div>
<div class="form-container">
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset class="poll-form">
            {% if error_message %}
                <p class="error">{{ error_message }}</p>{% endif %}
            {% for choice in question.choice_set.all %}
                <div class="choice"
                     onclick="document.getElementById('choice{{ forloop.counter }}').click();">
                    {% if choice.id == last_vote %}
                        <input type="radio" name="choice"
                               id="choice{{ forloop.counter }}"
                               value="{{ choice.id }}" checked>
                    {% else %}
                        <input type="radio" name="choice"
                               id="choice{{ forloop.counter }}"
                               value="{{ choice.id }}">
                    {% endif %}
                    <label style="color: black" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                </div>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote">
        <div class="home-button"
             onclick="location.href='{% url 'polls:results' question.id %}';">
            <a href={% url 'polls:results' question.id %}>Result</a></div>
        <div class="home-button"
             onclick="location.href='{% url 'polls:index' %}';"><a
                href="{% url 'polls:index' %}">Home</a></div>
    </form>
</div>

{% endblock %}